/*html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
*/

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.navbar {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), transparent !important;
    z-index: 1000;
}

.nav-link {
    color: white !important;
}

.navbar-light .navbar-brand {
    color: white !important;
    display: flex;
    align-items: center;
}

.navbar-light .navbar-nav .nav-link {
    color: white !important;
    font-size: 20px !important;
}

.carousel-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('your-carousel-image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar-brand img {
    height: 50px;
    margin-right: 15px;
}
